body{
    background-image: linear-gradient(to bottom, #4466C8, #AE37AB,
    #F64C57, #FF8147, #FBCA54 );
     background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;

}
h1{
    color: white;
    text-align: center;


}
div{
    text-align: center;
}
.perfil img{  
    height: 600px;
    text-align: center;
    
}
.texto p{
    color: white;
    text-align: center;
    font-size: 23px;
}
 a{
    color: white;
    text-decoration: none;
}
a:hover{
    transition: 0.5;
    color: rgb(199, 15, 15);
}